!.gitignore
*.a
*.exe
*.la
*.lo
*.log
*.m4
*.o
*.pc
config.h*
config.guess
config.status
config.sub

Makefile
Makefile.in

/autom4te.cache/
/.deps/
/.libs/
/_install/

/configure
/compile
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
